<!DOCTYPE html>
<html>
  <head>
    <title>{{ name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/css/style.css" rel="stylesheet" >
  </head>
  <body>
    <h1>{{ name }}</h1>
    <div class="card-of-bird">
      <img src="{{ url }}" alt="{{ description }}">
      <p>Количество просмотров: <b>{{ numViews }}</p>
    </div>
  </body>    
</html>
