<!DOCTYPE html>
<html>
  <head>
    <title>Птички</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/css/style.css" rel="stylesheet" >
  </head>
  <body>
    <h1>Птички во всей красе</h1>
    <!-- Фото галерея -->
    <ul class="products-list catalog-products-list">
      {% for item in items %}
        <li class="product-item">
          <p>
            <a href="{{ item.url }}" target="eagle-bald"><img src=" {{ item.url_small }}" width="184" alt="{{ item.name }}"></a>
          </p>
          <div>{{ item.name }}</div>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>